@import "tailwindcss";

.ant-menu > .ant-menu-item-selected {
  font-weight: 700;
  background: transparent;
}

.ant-menu > .ant-menu-submenu-active {
  background: transparent;
}

.ant-menu > .ant-menu-submenu-open {
  background: transparent;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title {
  font-weight: 700;
}

.ant-table-column-sorter {
  color: #fff !important;
}

.ant-table-column-sorter-up.active {
  color: #b1b0b0 !important;
}

.ant-table-column-sorter-down.active {
  color: #b1b0b0 !important;
}

.ant-drawer-body {
  padding: 0 !important;
}

.ant-menu-submenu-title {
  padding-left: 16px !important; /* default 24px */
}

.ant-menu-item {
  padding-left: 40px !important; /* default 72px */
}

.ant-menu-root > li:first-child {
  padding-left: 16px !important;
}
