@import "tailwindcss";

.ant-menu > .ant-menu-item-selected {
  font-weight: 700;
  background: transparent;
}

.ant-menu > .ant-menu-submenu-active {
  background: transparent;
}

.ant-menu > .ant-menu-submenu-open {
  background: transparent;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title {
  font-weight: 700;
}

.ant-table-column-sorter {
  color: #fff !important;
}

.ant-table-column-sorter-up.active {
  color: #b1b0b0 !important;
}

.ant-table-column-sorter-down.active {
  color: #b1b0b0 !important;
}

.ant-drawer-body {
  padding: 0 !important;
}

.ant-menu-submenu-title {
  padding-left: 16px !important; /* default 24px */
}

.ant-menu-item {
  padding-left: 40px !important; /* default 72px */
}

.ant-menu-root > li:first-child {
  padding-left: 16px !important;
}

@layer utilities {
  .ribbon {
    --f: 20px;
    position: absolute;
    top: 0;
    padding: 0.1em 1.8em;
    font-weight: 900;
    border-bottom: var(--f) solid #0007;
    -webkit-clip-path: polygon(
      100% calc(100% - var(--f)),
      100% 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),
      var(--f) calc(100% - var(--f)),
      0 100%,
      0 calc(100% - var(--f)),
      999px calc(100% - var(--f) - 999px),
      calc(100% - 999px) calc(100% - var(--f) - 999px)
    );
    clip-path: polygon(
      100% calc(100% - var(--f)),
      100% 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),
      var(--f) calc(100% - var(--f)),
      0 100%,
      0 calc(100% - var(--f)),
      999px calc(100% - var(--f) - 999px),
      calc(100% - 999px) calc(100% - var(--f) - 999px)
    );
    right: 0;
    transform: translate(calc((1 - cos(45deg)) * 100%), -100%) rotate(45deg);
    transform-origin: 0% 100%;
    -webkit-transform: translate(calc((1 - cos(45deg)) * 100%), -100%)
      rotate(45deg);
    -ms-transform: translate(calc((1 - cos(45deg)) * 100%), -100%) rotate(45deg);
    transform: translate(calc((1 - cos(45deg)) * 100%), -100%) rotate(45deg);
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
